<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/static/app.css">
    <title>{% block title %}Boggle{% endblock %}</title>
  </head>
  <body>
    <h1>Let's Play Boggle!</h1>
    {% block content %}
    {% endblock %}
    {% block end %}{% endblock %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"></script>
  <script src="/static/app.js"></script>
   <body>
</html>